@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bell-MT";
  src: url("/src/fonts/BellMT.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Bell-MT";
  src: url("/src/fonts/BellMTBold.ttf");
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  font-family: "Bell-MT", serif;
}

.hero-section {
  /* background-image: url("/assets/hero-img.jpg"); */
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-img {
  width: 725px;
}

.join {
  width: 173px;
  height: 57px;
  border: 1px solid;
  border-radius: 80%;
  font-family: "Bell-MT";
}

.big-button {
  width: 527px;
  height: 89px;
  border-radius: 80%;
  border: 1px solid;
}

.dance {
  width: 250px;
  height: 57px;
  border-radius: 80%;
  font-family: "Bell-MT";
  border: 1px solid;
}
